/**
* @author: fredafei
* @date: 2018/06/26
*/

@mixin result($type, $dir, $val:0) {
  #{$type}-#{$dir}: $val * $unit * .1;
}

@mixin i-button($type:default, $plain:false, $round: false) {
  display: inline-block;
  padding: .24*$unit .4*$unit;
  margin: 0;
  line-height: 1;
  text-align: center;
  color: $default-color;
  font-size: .28*$unit;
  font-weight: 500;
  background-color: $color-white;
  border: 1px solid #d0d0d0;
  border-radius: .04*$unit;
  outline: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-appearance: none;
}

@mixin dialog-wrapper() {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

@mixin mask($rgba:.4) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, $rgba);
  z-index: 10000;
}
