/**
* @author: fredafei
* @date: 2018/06/26
*/
$unit: 1rem;
@import '_variable';
@import '_mixins';
@import '_layout';
@import '_base';
@import '_transition';
@import '_normalize';
@import '_reset';

html, body {
  height: 100%;
}

#app {
  position: relative;
  height: 100%;
  width: 100%;
}

.wrapper-flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  .wrapper-hd,
  .wrapper-bd,
  .wrapper-ft {
    width: 100%;
  }
  .wrapper-bd {
    flex: 1;
    position: relative;
  }
}
